user: "dfl1826a"
group: "utilisateurs du domaine"
make: "make"
os: "linux"
root: "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot"
prefix: "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot/system"
lib: "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot/system/lib"
bin: "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot/system/bin"
sbin: "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot/system/sbin"
doc: "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot/system/doc"
stublibs:
  "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot/system/lib/stublibs"
toplevel:
  "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot/system/lib/toplevel"
man: "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot/system/man"
share: "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot/system/share"
etc: "/home/dfl1826a/Github/TPs/L3/PFITA/_pfita/opamroot/system/etc"
