user: "louis"
group: "louis"
make: "make"
os: "linux"
root: "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot"
prefix: "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot/4.02.2"
lib: "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot/4.02.2/lib"
bin: "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot/4.02.2/bin"
sbin: "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot/4.02.2/sbin"
doc: "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot/4.02.2/doc"
stublibs:
  "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot/4.02.2/lib/stublibs"
toplevel:
  "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot/4.02.2/lib/toplevel"
man: "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot/4.02.2/man"
share:
  "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot/4.02.2/share"
etc: "/home/louis/Documents/GitHub/TPs/L3/TAPFA/_pfita/opamroot/4.02.2/etc"
